@charset "UTF-8";

body
{
    margin: 0;
    padding: 0; 
    height: 150vh;
    width: 100%;
    
    background-color: black;
    background-image: url('Images/Border.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header
{
    height: 8%;
    top: 40px;
}
header h1
{
    text-align: center;
    color: white;
    font-size: 86px;
    transform: translate(0px, 18px);

    -webkit-text-stroke: 2.25px rgb(167, 29, 167);
}
#banner
{
    height: 50%;
    width: 88.5%;
    margin: auto;
    padding: auto;
    transform: translate(2px, 85px);
    outline: 5px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}  
#banner img
{
    height: 100%;
    width: 100%;
}
section
{
    width: 89.28%;
    margin: auto;
    height: 10%;
}
nav
{
    background-color: rgb(167, 29, 167);
    background-position: horizontal;

    
    border: 5px solid white;

    padding: 20px 10px;
    text-align: center;
    word-spacing: 40px;
    font-size: 35px;
    transform: translate(2px, 85px);
}
a
{
    word-spacing: 5px;
    color: white;
}

footer
{
    margin: auto;
    padding: 0;
    background-color: transparent;
    display: flex;
    width: 77.5%;
    height: 40%;

    transform: translate(0px, -530px);
}

div#info
{
    width: 83%;
    height: 43%;
    transform: translate(88px, 618px);
}
div#info h1#hours
{
    position: absolute;
    margin-top: auto;
    transform: translate(0px, -5px);

    font-size: 35px;
    color: white;
}
div#info p#Wdays
{
    color: white;
    font-size: 15px;

    text-align: center;
    
    position: absolute;
    transform: translate(50px, 20px);

}
div#info p#Wends
{
    color: white;
    font-size: 15px;

    text-align: center;
    word-spacing: 30px;
    position: absolute;
    transform: translate(140px, 20px);

}
div#info h1#contact
{
    position: absolute;
    margin-top: auto;
    transform: translate(60px, 70px);

    font-size: 35px;
    color: white;
}
div#info p#phone
{
    position: absolute;
    font-size: 15px;
    
    color: white;
    text-align: center;
    transform: translate(60px, 90px);
}
div#info img#Facebook
{
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translate(50px, 125px);
}
div#info img#Instagram
{
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translate(85px, 125px);
}
div#info img#Snapchat
{
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translate(120px, 125px);
}
div#info img#x
{
    position: absolute;
    height: 29px;
    width: 29px;
    transform: translate(160px, 125px);

    outline: 1px solid white;
}
div#info h1#about
{
    position: absolute;
    margin-top: auto;
    transform: translate(500px, -5px);

    font-size: 35px;
    color: white;
}
div#info p#description
{
    position: absolute;
    font-size: 15px;

    height: 123px;
    width: 582px;

    
    color: white;
    text-align: center;
    transform: translate(280px, 15px);
}